*{
  margin : 0;
  padding : 0;
  text-align: center;
}
body{
  color: #DACC3E;
  background-color: #7D1538;
  font-family: Arial, sans-serif;
}
img{
  display: flex;
  justify-self: center;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  align-items: center;
  display: none;
}
a{
  display: none;
}
