*{
  margin : 0;
  padding : 0;
  text-align: center;
}
body{
  color: #DACC3E;
  background-color: #7D1538;
  font-family: Arial, sans-serif;
}
img{
  margin-left:40% ;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  align-items: center;
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  img{
    margin: auto;
  }
}